/.ICEauthority
/.Xauthority
/.astropy
/.bash_history
/.bash_logout
/.bashrc
/.bashrc.swp
/.cache
/.conda
/.config
/.dbus
/.dotnet
/.gitconfig
/.gnome
/.gnupg
/.grass7
/.ipynb_checkpoints
/.ipython
/.jupyter
/.keras
/.local
/.mongodb
/.mozilla
/.mysql_history
/.nv
/.pam_environment
/.pcsc10
/.pki
/.plotly
/.profile
/.profile.swp
/.pycharm_helpers
/.python_history
/.python_history-37391.tmp
/.rpmdb
/.sdkman
/.ssh
/.sudo_as_admin_successful
/.vim
/.viminfo
/.vscode
/.vscode-R
/.vscode-remote-containers
/.vscode-server
/.wdm
/.wget-hsts
/.xinputrc
/.xorgxrdp.10.log
/.xorgxrdp.10.log.old
/.xsession
/.xsession-errors
/.zshrc
/Desktop
/Documents
/Downloads
/GPU_use.ipynb
/Music
/NVIDIA_CUDA-11.1_Samples
/NVIDIA_CUDA-11.4_Samples
/Pictures
/Public
/R
/README.md
/Templates
/Untitled.ipynb
/Untitled1.ipynb
/Videos
/anaconda3
/cuda_11.1.0_455.23.05_linux.run
/data1.csv
/examples.desktop
/f:
/nia_chat
/nia_chat.jar
/nia_chat_old.jar
/nltk_data
/python
/scikit_learn_data
/thinclient_drives
/time-annot-tool